{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["node_modules/", "build/", "src/types.generated.ts"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "import", "json", "prettier", "sort-keys-fix"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:json/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "semi": "off",
    "@typescript-eslint/semi": ["error", "never"],
    "sort-keys": [
      "warn",
      "asc",
      {
        "caseSensitive": true,
        "natural": false,
        "minKeys": 2
      }
    ],
    "sort-keys-fix/sort-keys-fix": "warn",
    "no-tabs": ["error"],
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "quotes": [2, "single", "avoid-escape"],
    "max-statements": ["error", 50],
    "max-depth": ["error", 4],
    "complexity": ["error", 32],
    "max-lines": [
      "error",
      {
        "max": 640,
        "skipBlankLines": true
      }
    ],
    "max-nested-callbacks": ["error", 10]
  }
}
